{:deps
 {lambdaisland/deep-diff2 {:local/root "."}
  lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "7ce125cbd14888590742da7ab3b6be9bba46fc7a"}}
 :tasks
 {test:bb {:doc "Run babashka tests with custom runner"
           :extra-paths ["src" "test"]
           :extra-deps {current/project {:local/root "."}
                        org.clojure/test.check    {:mvn/version "1.1.1"}}
           :task (exec 'lambdaisland.deep-diff2.runner/run-tests)}}}
