{:deps
 {lambdaisland/deep-diff2 {:local/root "."}
  lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :git/sha "f2133b2a88bff3898e027c9b50516161c237792e"}}
 :tasks
 {test:bb {:doc "Run babashka tests with custom runner"
           :extra-paths ["src" "test"]
           :extra-deps {current/project {:local/root "."}
                        org.clojure/test.check    {:mvn/version "1.1.1"}}
           :task (exec 'lambdaisland.deep-diff2.runner/run-tests)}}}
