{:paths ["src" "test"]
 :deps  {org.clojure/clojure         {:mvn/version "1.9.0"}
         mvxcvi/puget                {:mvn/version "1.0.2"}
         fipp                        {:mvn/version "0.6.13"}
         org.clojure/core.rrb-vector {:mvn/version "0.0.13"}
         tech.droit/clj-diff         {:mvn/version "1.0.0"}
         mvxcvi/arrangement          {:mvn/version "1.1.1"}}

 :aliases
 {:dev
  {}

  :test
  {:extra-deps {lambdaisland/kaocha    {:mvn/version "0.0-217"}
                org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}}}}
