{:deps
 {:aliases [:dev :chui]}

 :dev-http
 {8012 "classpath:public"}

 :builds
 {:main
  {:target     :browser-test
   :test-dir   "test"
   :runner-ns  lambdaisland.chui.demo
   :output-dir "resources/public/ui"
   :asset-path "/ui"
   :ns-regexp "-test$"
   :devtools   {:repl-pprint true}}}

 :cache-blockers #{lambdaisland.chui.styles
                   lambdaisland.chui.test-data}
 }
